@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    font-family: 'Poppins', sans-serif; 
    scroll-behavior: smooth;
}
@media(max-width: 980px){
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.hamburger-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: #040c35;
    color: white;
    z-index: 1;
}
.nav{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(-135deg, #000000, #4158d0);
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
  /* clip-path: circle(25px at calc(0% + 45px) 45px); */
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 0.375s ease-in-out;
}
#active:checked ~ .nav{
  clip-path: circle(75%);
}
.menu-btn{
  position: absolute;
  z-index: 2;
  right: 20px;
  /* left: 20px; */
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 30%;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(-135deg, #000000, #4158d0);
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .menu-btn{
  background: #fff;
  color: #4158d0;
}
#active:checked ~ .menu-btn i:before{
  content: "\f00d";
}
.nav ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.nav ul li{
  margin: 15px 0;
}
.nav ul li a{
  color: none;
  text-decoration: none;
  font-size: 60px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
}
.nav ul li a:after{
  position: absolute;
  content: "";
  background: #fff;
  width: 100%;
  height: 50px;
  left: 0;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  transition: transform 0.6s ease;
}
.nav ul li a:hover:after{
  transform: scaleY(1);
}
.nav ul li a:hover{
  color: #4158d0;
}
input[type="checkbox"]{
  display: none;
}


section{

    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 30px;
}
}

@media(min-width: 981px){

#active{
    display: none;
}

.menu-btn{
    display: none;
}

.menu{
    list-style: none;
}
.nav{
    position: fixed;
    left: 0;
    top: 0;
    height: 75px;
    width: 100%;
    background: #4158d0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.nav .menu li{
    display: flex;
    margin: 0 15px;
}

.nav .menu li a{
    position: relative;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    padding: 3px 2px;
    text-decoration: none;
}

.nav .menu li a:before{
    content: '';
    position: absolute;
    height: 3px;
    width: 0%;
    background: white;
    bottom: 0;
    left: 0;
    transition: all 0.4s ease;
}
.nav .menu li a:hover:before{
    width: 100%;
}
.nav .menu li a:before{
    left: 50%;
    transform: translateX(-50%);
}


.nav .menu{
    display: flex;
}
section{
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 70px;
}

}
.logo a{
    color: #fff;
    font-size: 60px;
    font-weight: bold; 
    text-decoration: none;
    padding: 40px;
    z-index: 1;
}
.menu-btn{
    position: fixed;
}
.nav .logo{
    z-index: 1000;
}

